.configurable-sequence-table {
  border: 2px solid #333;
  padding: .5rem;
}

.configurable-sequence-table table {
  width: 100%;
}

.configurable-sequence-table footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.configurable-sequence-table[data-sequence-id="red"] {
  border-color: red;
}

.configurable-sequence-table[data-sequence-id="green"] {
  border-color: green;
}

.configurable-sequence-table[data-sequence-id="blue"] {
  border-color: blue;
}
