.app {
  padding: 1rem;
}
.tables {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}

.tables .configurable-sequence-table {
  margin: 0 .25rem;
}

@media screen and (max-width: 700px) {
  .configurable-sequence-table[data-sequence-id="blue"] {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .tables {
    flex-direction: column;
  }
}
